<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>258564814303-dqvfp4gg55jdmjg5b5vbpcue3qc06d9m.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.258564814303-dqvfp4gg55jdmjg5b5vbpcue3qc06d9m</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>258564814303-iu9ssnq7ogt4i99q2qdtcic83l9d93td.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAoy-IiW20wx-5eixL9SknCb8-vyZ_QiGM</string>
	<key>GCM_SENDER_ID</key>
	<string>258564814303</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>online.myfamilyvoice.mobile</string>
	<key>PROJECT_ID</key>
	<string>myfamilyvoice-92b1e</string>
	<key>STORAGE_BUCKET</key>
	<string>myfamilyvoice-92b1e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<false/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:258564814303:ios:e348d30485bc813898c06a</string>
	<key>DATABASE_URL</key>
	<string>https://myfamilyvoice-92b1e.firebaseio.com</string>
</dict>
</plist>
